@import '../buttons.scss';
@import './general.scss';

.main-shadow {

    .main-form {
        top: 25%;
        left: 10%;
        right: 10%;

        .main-modal {
            position: relative;

            .close-button {
                position: absolute;
                cursor: pointer;
                top: 3%;
                right: 3%;
                font-size: 35px;
                z-index: 1;
            }
        
            .info-wrapper {
                position: relative;
                height: 80%;
                width: 100%;
        
                display: flex;
                align-items: center;
                justify-content: center;
        
                .static-info-rows {
                    margin: 10px 0 0 0;
        
                    div {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        height: 30px;
                    }
                }

                .camera {
                    margin-left: 30px;
                }
            }
        
            .edit-button-wrapper {
                display: flex;
                justify-content: space-between;
                margin: 25px 35%;
            }

            .add-button-wrapper {
                display: flex;
                justify-content: center;
                margin: 25px 0;
            }
        }
    }
}

@media (max-width: 1200px) {
    .main-shadow {
        .main-form {
            left: 0;
            right: 0;
        }
    }
}

@media (min-width: 1600px) {
    .main-shadow {
        .main-form {
            left: 20%;
            right: 20%;
        }
    }
}