@import '../buttons.scss';
.main-shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    z-index: 20;

    .extend-frame {
        background: #202225;
        border: 2px solid #FFF;
        bottom: 40%;
        top: 35%;
        left: 30%;
        position: fixed;
        right: 30%;
        
        .close {
            cursor: pointer;
            font-size: 25px;
            position: absolute;
            right: 5%;
            top: 5%;
        }

        .lines-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 25px 20px;

            .labels-wrapper {
                display: flex;
                flex-direction: column;
                margin-top: 50px;

                div {
                    align-items: center;
                    font-size: 20px;
                    height: 30px;
                    margin-top: 20px;
                }
            }

            .user-input-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 10px;
                input {
                    background: #202225;
                    border: 1px solid white;
                    color:white;
                    font-size: 20px;
                    height: 28px;
                    margin-top: 19px;
                    padding: 0;
                }
            }
        }
        
        .button-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    }
}
@media (max-width: 1200px) {
    .main-shadow {
        .extend-frame {
            left: 25%;
            right: 25%;
        }
    }
}

@media (min-width: 1600px) {
    .extend-frame {
        left: 35%;
        right: 35%;
    }
}