@import '../buttons.scss';
@import './general.scss';

.main-shadow {

    .main-form {
        top: 30%;
        left: 30%;
        right: 30%;

        .main-modal {
            position: relative;

            .close-button {
                position: absolute;
                cursor: pointer;
                top: 2%;
                right: 3%;
                font-size: 25px;
                z-index: 1;
            }
        
            .info-wrapper {
                position: relative;
                height: 80%;
                width: 100%;
        
                display: flex;
                align-items: flex-start;
                justify-content: center;
        
                .static-info-rows {
                    margin: 10px 0 0 0;
        
                    div {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        height: 30px;
                        font-size: 12px;
                    }
                }
        
                .dynamic-info-rows {
                    margin: 10px 0px 0px 15px;
                    display: flex;
                    flex-direction: column;
        
                    .user-input {
                        color:white;
                        background: rgba(178, 34, 34, 0);
                        height: 30px;
                        margin-top: 10px;
                        width: 300px;
                        &.bordered {
                            border: 1px solid white;
                            margin-top: 8px;
                        }
                    }
                }
            }
        
            .edit-button-wrapper,
            .add-button-wrapper {
                display: flex;
                justify-content: space-around;
                margin: 25px 25%;
            }
        }
    }
}
@media (max-width: 1024px) {
    .main-shadow {
        .main-form {
            left: 20%;
            right: 20%;
        }
    }
}

@media (min-width: 1600px) {
    .main-shadow {
        .main-form {
            left: 35%;
            right: 35%;
        }
    }
}