@import './general.scss';
@import '../buttons.scss';
@import '../searchPanel.scss';

.search-container {
    margin-top: 25px;
}

.user-output-wrapper {
    display: flex;
    justify-content: center;
    
    .user-output {
        margin-top: 25px;
        font-size: 19px;
        display: flex;

        .nodes {
            margin-left: 50px;
            margin-right: 20px;
            min-width: 300px;
        }

        .user-photo {
            box-shadow: 4px 4px 12px 0px black;
            max-width: 300px;
        }

        div > div {
            margin-bottom: 10px;
        }
    }
}

.user-buttons-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    button {
        margin: 0 40px;

        &:disabled {
            color: black;
        }
    }
}
