@import './general.scss';
@import '../buttons.scss';
@import '../searchPanel.scss';

.main-frame {
    .search-result-frame {
        width: 80%;

        .search-result-header {
            grid-template-columns: repeat(3, 1fr);
        } 
    }
}


.search-result {
    grid-template-columns: repeat(3, 1fr);
}    

.add-type-wrapper {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%); 
}