@import './general.scss';
@import '../buttons.scss';
@import '../searchPanel.scss';

.main-frame {
    .search-result-frame {
        width: 80%;
    }
}

.search-result {
    grid-template-columns: repeat(4, 1fr);
}

.report-button-wrapper {
    position: absolute;
    bottom: 10%;
    left: 5%;
}