.camera-frame {
    margin: 20px 0px 0px 10px;
    display: flex;
    flex-direction: column;

    .feed, canvas {
        box-shadow: 4px 4px 12px 0px black;
        max-width: 300px;
    }

    .snap-button {
        margin: 5px 40px 0px 40px;
    }
}