@import url('https://fonts.googleapis.com/css?family=Bellota+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');

button {
    outline: none;
    font-family: 'PT Mono', monospace;
    border: none;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    font-weight: 300;
    transition: all 0.2s;
}

.add-type-button,
.confirm-add-type-button {
    color: white;
    border: none;
    padding: 15px 30px;
    transition: all 0.2s;
    font-size: .8rem;
    background: rgb(68, 121, 70);

    &:focus, 
    &:hover {
        background: rgb(92, 153, 94);
    }
}

.edit-type-button,
.remove-type-button,
.extend-type-button {
    padding: 10px 20px;
    font-size: .7rem;
}

.edit-type-button {
    background: rgb(36, 121, 160);

    &:focus, 
    &:hover {
        background: rgb(54, 139, 179);
    }
}

.remove-type-button {
    background: rgb(110, 64, 64);
    font-size: .7rem;

    &:focus, 
    &:hover {
        background: rgb(138, 82, 82);
    }
}

.extend-type-button {
    background: rgb(68, 121, 70);
    font-size: .7rem;

    &:focus, 
    &:hover {
        background: rgb(92, 153, 94);
    }
}

.accept-type-button {
    background: rgb(68, 121, 70);
    width: 300px;
    padding: 20px 0;
    &:focus, 
    &:hover {
        background: rgb(92, 153, 94);
    }
    &:disabled {
        color: black;
    }
}

.cancel-type-button {
    margin: 20px 0;
    background: rgb(110, 64, 64);
    width: 200px;
    padding: 10px 0;
    &:focus, 
    &:hover {
        background: rgb(138, 82, 82);
    }
    &:disabled {
        color: black;
    }
}

.report-type-button,
.goto-types-type-button {
    background: #202225;
    color: white;
    border: none;
    padding: 15px 30px;
    transition: all 0.2s;
    font-size: .8rem;

    &:active {
        box-shadow: 1px 1px 2px black;  
        padding: 13px 25px;
    }

    &:focus, 
    &:hover {
        background: #282b2e;
    }
}