@import './buttons.scss';

.main-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.685);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
    .main-frame {
        position: relative;
        font-family: Verdana, sans-serif;
        height: 50%;
        width: 40%;
        background: #2f3136;
        box-shadow: 5px 5px 8px black;
        color: white;

        .close-button {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            padding-right: 10px;
            font-size: 30px;
            z-index: 301;
        }

        .option-title {
            font-size: 1.3rem;
            text-align: center;
            margin-top: 15px;
        }

        .info-wrapper {
            font-size: 1.2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .static-info-rows,
            .dynamic-info-rows {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
            }
            .static-info-rows {
                div {
                    margin-top: 10px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    color: white;
                }
            }
            .dynamic-info-rows {
                .password-input,
                .rate-input
                {
                    margin-top: 10px;
                    border: 1px solid white;
                    background: #2f3136;
                    height: 28px;
                    color: white;
                    text-align: center;
                }

                .rate-input {
                    width: 30%;
                }

                .password-input {
                    font-size: 1.4rem;
                    width: 90%;
                }
            }
        }

        .button-wrapper {
            margin-top: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

@media(max-width: 1000px) {
    .main-shadow {
        .main-frame {
            width: 60%;
        }
    }
}

@media(min-width: 1600px) {
    .main-shadow {
        .main-frame {
            width: 30%;
        }
    }
}