@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Bellota+Text&display=swap');

button {
    outline: none;
    font-family: 'Bellota Text', cursive;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 300;
    transition: all 0.3s;
}

.add-type-button {
    background: forestgreen;
    padding: 10px;
}

.edit-type-button {
    background: yellow;
}

.remove-type-button {
    background: red;
}

.accept-type-button {
    background: rgb(68, 121, 70);
    border-radius: 40px;
    border: 1px solid rgb(0, 0, 0);
    &:focus, 
    &:hover {
        background: rgb(92, 153, 94);
    }
}

.cancel-type-button {
    background: rgb(110, 64, 64);
    border-radius: 40px;
    &:focus, 
    &:hover {
        background: rgb(138, 82, 82);
    }
}

.extend-type-button {
    background: hotpink;
}