@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

button {
    outline: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.3rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 300;
    transition: all 0.3s;
}

.add-type-button {
    background: forestgreen;
    padding: 10px;
}

.edit-type-button {
    background: yellow;
}

.remove-type-button {
    background: red;
}

.accept-type-button {
    background: greenyellow;
}

.cancel-type-button {
    background: rgb(207, 67, 67);
}