@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.main-frame {
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 100%;
    height: calc(100vh - 73px);
    background: #2f3136;
    position: relative;
    color: #adbbbe;

    /* width */
    ::-webkit-scrollbar {
        width: 15px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .user-input {
        display: flex;
        justify-content: center;
        padding: 10px 0px 10px 0px;
    }

    .search-result-frame {
        background: #27282c;
        width: 95%;
        max-height: 55%;
        margin: auto;
        overflow-y: auto;
        overflow-x: auto;
        font-family: Verdana, sans-serif;
        .search-result-header {
            text-align: center;
            display: grid;
            color: white;
            &>div {
                padding: 5px 10px;
                border: 1px solid black;
            }
        }

        .search-result {
            display: grid;
            cursor: pointer;

            div {
                padding: 5px 10px;
                border: 1px solid black;
                overflow-x: hidden;
            }
            
            &:hover,
            &:focus {
                color: #c1cbce;
                background: #2b2e31;
            }
        }
    }
}
