@import './general.scss';
@import '../buttons.scss';
@import '../searchPanel.scss';

.main-frame {
    .date-pick-wrapper {
        .date-pick-header {
            display: flex;
            justify-content: center;
        }

        .date-pick-body {
            display: flex;
            flex-direction: row;
            justify-content: center;
            

            div {
                display: flex;
                margin: 0 5px;
                align-items: center;
                padding: 5px 0 5px 5px;
            }

            input {
                background: #2f3136;
                border: 1px solid rgb(150, 148, 148);
                color: white;
                padding: 5px 0 5px 2px;

                &:disabled {
                    color: #969696;
                }
            }
            select {
                background: #2f3136;
                color: white;
                padding: 0 10px 0 5px;
                margin-left: 15px;
            }
        }
    }

    .search-result-frame {
        width: 80%;
        margin-top: 15px;
        .search-result-header,
        .search-result {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .report-button-wrapper {
        position: absolute;
        bottom: 10%;
        left: 5%;
    }
}



