@import '../buttons.scss';

.main-frame {
    font-family: 'Verdana', sans-serif;
    width: 100%;
    height: calc(100vh - 73px);
    background: #2f3136;
    position: relative;
    color: #adbbbe;

    .options-wrapper {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        .option-title {
            margin: 0 10px;
            font-size: 1.2rem;
        }

        .trainer-selector {
            color: black;
            border: 1px solid rgb(165, 164, 164);
            height: 34px;
        }
    }

    .search-result-frame {
        background: #27282c;
        width: 98%;
        max-height: 65%;
        margin: auto;
        overflow-y: auto;
        overflow-x: auto;
        font-family: Verdana, sans-serif;

        .search-result-header {
            grid-template-columns: repeat(8, 1fr);
            text-align: center;
            display: grid;
            color: white;
            &>div {
                padding: 5px 10px;
                border: 1px solid black;
            }
        }

        .search-result {
            grid-template-columns: repeat(8, 1fr);
            display: grid;
            cursor: pointer;

            div {
                padding: 5px 10px;
                border: 1px solid black;
                overflow-x: hidden;
            }
            
            &:hover,
            &:focus {
                color: #c1cbce;
                background: #2b2e31;
            }
        }
    }

    .bottom-wrapper {
        position: absolute;
        height: 20%;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;

        .button-wrapper {
            width: 30%;
            margin: 20px 10px;
            button {
                padding: 15px 5px;
                font-size: 0.9rem;
            }
        }

        .total-wrapper {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin: 20px 0 0 25%;

            .total {
                font-size: 1.2rem;
            }
        }
    }
    
}